// reset font sizes so that 1rem = 10px, 1.3rem = 13px etc.
html {
	font-size: 62.5%;
	background: $tertiary-color;
}
body { font-size: 1.3rem;
	background: $tertiary-color;
 }

h1, h1 a {
	font-family: $headline-font;
	text-transform: uppercase;
	font-weight: normal;

	letter-spacing: 0.1em;
	line-height: 0.9em;
	margin:0 0 0.4em;
	color: $secondary-color;
}

h2, h2 a {
	font-family: $headline-font;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 0.9em;
	margin:0 0 1em;
	color: $tertiary-color;
}

h3, h4, h5, h6 {
	font-weight: normal;
	text-transform: uppercase;
}

h1 {
	font-size: 2.4rem;
	@include breakpoint(small) {
		font-size: 3rem;
	}
	@include breakpoint(tablet) {
		font-size: 3.6rem;
	}
	.cufon-canvas {
		max-height: 48px;
		top: -2px;
	}
} // h1

h2 {
	font-size: 1.7rem;
	text-align: center;
	@include breakpoint(small) {
		font-size: 2.4rem;
	}
} // h2

h3 {
	font-family: $headline-font;
	font-size: 1.6rem;
	letter-spacing: 0.15em;
}
h4 {
	font-family: $headline-font;
	font-size: 1.4rem;
	letter-spacing: 0.1em;
}
h5 {
	font-weight: normal;
}
h5, h6 {
	font-family: $sans-serif;
	font-size: 1.3rem;
	letter-spacing: 0.1em;
}

p {
  font-family: $serif-font;
  font-size: 1.4rem;
  line-height: 1.6em;
  margin:0 0 0.8em;
  color: $text-color;
  text-align: center;
  @include breakpoint(small) {
  	font-size: 1.6rem;
  	line-height: 1.3em;
  }
}

a {
	font-family: $sans-serif;
	color:$tertiary-color;
	text-decoration: underline;
	-webkit-transition: color $css-transition-speed ease-out;
    transition: color $css-transition-speed ease-out;
    position: relative;
    &:hover {
    	color: darken($secondary-color, 20%);
    }
    &:before {
    	-webkit-transition: color $css-transition-speed ease-out;
    	transition: color $css-transition-speed ease-out;
    }
}

.instagram-icon {
	position: absolute;
	right: 0;
	top: 0;
	width: 34px;
	display: block;
	background: url('#{$basePath}img/instagram-icon.png') no-repeat center;
	text-indent: -9999px;
	background-size: 14px;
}

hr {
	border-color: $tertiary-color;
	width: 20px;
	margin: 0 auto 30px;
	@include breakpoint(small) {
		margin: 50px auto 30px;
	}
}

// HIDDEN
.hide-for-tablet-up {
  @include breakpoint(tablet) {
  	display: none;
  }
}

.skip-to-content {
	line-height: 1em;
	display:none;
	}

button, input[type="submit"] {
	font-family: $headline-font;
	font-weight: normal;
	font-size: 1.5rem;
	color: white;
	background: $primary-color;
	border: 0;
	margin: 1em 0;
	padding: 1rem 2rem 1.0625rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	cursor: pointer;
}



ul {
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 1em;
}

.show-for-tablet-up {
	display: none !important;
	@include breakpoint(tablet) {
		display: block !important;
	}
}
.show-for-mobile-and-tablet {
	@include breakpoint(tablet) {
		display:none !important;
	}
}


// BLOCK QUOTES 

blockquote {
	border: none;
	padding: 0;
	a {
		text-decoration: none;
		&:hover {
			q {
				color: $primary-color;
			}
		}
	}
	p {
		color: $tertiary-color;
		font-size: 1.3rem;
	}
	q {
		font-family: $headline-font;
		text-transform: uppercase;
		font-size: 2em;
		line-height: 1.1em;
		letter-spacing: 0.1em;
		color: $tertiary-color;
		padding: 1em;
		display: block;
		width: 100%;
		&:before {
			font-size: 2em;
			position: absolute;
			left: 0;
		}
		&:after {
			font-size: 2em;
			line-height: 0;
			position: relative;
			top: 0.8em;
		}
		&:hover {
			color: $primary-color;
		}
	} // q
	footer {
		background: none;
		border-bottom: $border-style;
		color: $tertiary-color;
		padding: 0.5em 0 1em;
		text-transform: uppercase;
		font-size: 1.3rem;
	}
	&:last-child {
		footer {
			border: none;
		}
	}
	.accordion dd > a {
		border-bottom: 0;
	}
} // blockquote

.price {
	font-weight: bold;
	font-size: 2rem;
	margin: 0;
}
.dollars_euros {
	font-weight: bold;
	font-size: 1.1rem;
	color: $tertiary-color;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.reduced {
	color: $primary-color;
	text-decoration: line-through;
}

// forms

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	height: auto;
	font-family: $sans-serif;
}

form {
	label {
		font-family: $headline-font;
		font-size: 1.6rem;
		line-height: 1.8rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin: 0.4em 0;
	}
	.checkbox-fieldset {
		border:none;
		padding: 0;
		label {
			display: inline-block;
			font-family: $sans-serif;
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
	}
	.update-saved {
		font-family: $headline-font;
		margin: 1em 0 0;
		text-align:center;
		text-transform: uppercase;
		font-weight: bold;
		color: $primary-color;
		letter-spacing: 0.1em;
		display: block;
		width: 100%;
	}
}

/**** NAVIGATION ****/
ul.off-canvas-list {
	background: $tertiary-color;
	padding: 46px 10px 0;
	li a {
		line-height: 1.2em;
		padding: 1em 12px;
	}
	@include breakpoint(tablet-landscape) {
		padding: 0;
		background: none;
		width: 960px;
		margin:0 auto !important;
		li {
			display: inline-block;
			border-right: 1px solid $light-grey;
			padding-right: 5px;
			a {
				font-size: 1.2rem;
				padding: 3px 15px;
				border-bottom: 0;
			}
		}
		li.home {
			border: 0;
			min-width: 160px;
			a {
				display: block;
				width: 130px;
				height: 18px;
				background: url('#{$basePath}img/blomfield-logo.png') no-repeat center;
				text-indent: -9999px;
				margin-right: 5px;
				@media 
				(-webkit-min-device-pixel-ratio: 2), 
				(min-resolution: 192dpi) { 
				    background: url('#{$basePath}img/blomfield-logo-retina.png') no-repeat center;
					background-size: 130px 11px;
				}
			}
		}
		li:last-child {
			border-right: 0;
		}
	}
} // off-canvas-list
.left-off-canvas-menu {
	min-height: 568px;
	background: $tertiary-color;
	position: fixed;
	top: 0;
	a {
		text-decoration: none;
		font-family: sans-serif;
		color: $light-grey;
	}
	@include breakpoint(tablet-landscape) {
		position: absolute;
		min-height: 26px;
		padding-top: 8px;
		width: 100%;
		transform: none;
		-webkit-transform: none;
		transition: none;
	} // tablet
} // left-off-canvas-menu

.tab-bar {
	background: $tertiary-color;
	border-bottom: 1px solid $primary-color;
	height: 35px;
	width: 100%;
	position:fixed;
	top: 0;
	z-index: 99;
	.menu-icon {
		width: 34px;
		height: 34px;
		text-indent: 25px;
		span:after {
			left: 10px;
			width: 20px;
			box-shadow: 0 0 0 1.5px $light-grey, 0 6px 0 1.5px $light-grey, 0 12px 0 1.5px $light-grey;
			border-radius: 1px;
		}
		&:hover {
			color: $primary-color;
		}
		&:before {
			&:hover {
				color: $primary-color;
			}
		}
	} // menu-icon

	.instagram-icon {
		position: absolute;
		right: 0;
		top: 0;
		width: 34px;
		display: block;
		background: url('#{$basePath}img/instagram-icon.png') no-repeat center;
		text-indent: -9999px;
		background-size: 14px;
		@include breakpoint(tablet-landscape) {
			top: 4px;
		}
	}

	@include breakpoint(tablet-landscape) {
		height: 44px;
		.left-off-canvas-toggle {
			display:none;
		}
	}
} // tab-bar

.left-small {
	border: 0;
	width: 100%;
	@include breakpoint(tablet-landscape) {
		position: relative;
		max-width: 960px;
		margin:0 auto;
		a {
			z-index: 1002;
		}
	}
}

/***************
  MAIN CONTENT
****************/

.main-section {
	color: $tertiary-color;
	background: $background-color;
	padding-top: 34px;
	@include breakpoint(tablet-landscape) {
		padding-top: 44px;
	}
}

main {
	background: $background-color;
	padding: 10px 0 0;
	margin: 0 auto;
	display: block;
} // main

.outer-container {
	width: 100%;
	background: $primary-color;
	padding-bottom: 40px;
}
.container {
	margin: 0 auto;
	background: $primary-color;
	@include breakpoint(small) {
		max-width: 960px;		
	}
}

.IE8-message {
	display: none;
	width: 100%;
	position: fixed;
	top: 36px;
	padding: 15px;
	font-family: $headline-font;
	background-color: $primary-color;
	text-transform: uppercase;
	color: $tertiary-color;
	z-index: 999;
	text-align: center;
	a {
		color: $secondary-color;
		font-weight: bold;
		text-decoration: underline;
	}
}
.lt-ie9 {
	body {
		padding-top: 38px;
	}
	.IE8-message {
		display:block;
	}
}

/***************
     FOOTER
****************/

footer {
	background: $tertiary-color;
	.back-to-top {
		background: #d5d6d5;
		position: relative;
		padding: 10px 20px;
		margin-bottom: 36px;
		a {
			text-transform: uppercase;
			text-decoration: none;
			color: $tertiary-color;
			&:hover {
				color: darken($secondary-color, 20%);
			}
		}
		.instagram-icon {
			background: url('#{$basePath}img/instagram-icon-footer.png') no-repeat center;
			background-size: 14px;
			right: 10px;
			top: 10px;
		}
	}
	h2 {
		color: #d5d6d5;
	}
	hr {
		border-color: #d5d6d5;
		margin: 10px auto 20px;
	}
	p {
		color: #d5d6d5;
		text-align: center;
		width: 100%;
		font-family: sans-serif;
		font-size: 1.3rem;
		margin: 0 auto 1em;
		max-width: 300px;
		@include breakpoint(small) {
			max-width: 502px;
			font-size: 1.6rem;
		}
	}
	p.tel {
		span {
			color: $secondary-color;
		}
		margin-bottom: 1em;
		@include breakpoint(small) {
			margin-bottom: 0;
		}
	}
	a, .text-largest {
		color: $secondary-color;
		text-decoration: none;
	}
	.rex-logo {
		width: 101px;
		margin: 0 auto;
		border: 1px solid #fff;
		margin-bottom: 2em;
		@include breakpoint(small) {
			width: 202px;
		}
	}
	.waters-homes {
		border-top: 1px solid #d5d6d5;
		max-width: 90%;
		display: block;
		margin: 30px auto 10px;
		padding: 20px;
		text-align: center;
		img {
			width: 145px;
			margin-bottom: 15px;
		}
		p {
			text-transform: none;
			font-size: 1.2rem;
			letter-spacing: 1px;
		}
		@include breakpoint(small) {
			p {
				a { 
					&:first-child {
						// border-right: 1px solid $secondary-color;
						padding-right: 1em;
						margin-right: 1em;
					}
				}
			}
			p.tribelink {
				a {
					border-right: none;
				}
			}
		}
		@include breakpoint(tablet) {
			text-align: left;
			position: relative;
			margin: 50px auto 0px;
			padding-bottom: 30px;
			padding-left: 0;
			p {
				text-align: left;
				margin: 0 0 10px;
				padding: 0 !important;
				max-width: 960px;
			}
			p.tribelink {
				position: absolute;
				right: 0;
				max-width: 100px;
				bottom: 30px;
				text-align: right;
				a {
					padding: 0;
					margin: 0;
				}
			}
		}
	} // waters-homes
	@include breakpoint(small) {
		max-width: 960px;
		margin: 0 auto;
	}
} // footer

/*****************
    INSTAGRAM
******************/

.instagram-feed {
		width: 100%;
		background: $tertiary-color;
		padding: 0;
		.row {
			max-width: 100%;
		}
		.row div {
				padding:0;
		}
		a {
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				color: $primary-color;
			}
		} // a
		h2 {
			margin-bottom: 0.3em;
			font-size: 1.7rem;
		}
		p {
			color: white;
			font-size: 1.1rem;
			letter-spacing: 0.1em;
			a { text-decoration: underline; }
		}
		img {
			margin: 1em auto;
			border: 1px solid $tertiary-color;
			max-width: 150px;
			min-height: 150px;
		}
		.slick-dots {
			bottom: -10px;
			li button:before {
				color: white;
			}
		}
		.slick-slide {
			-webkit-transition: margin .5s linear .4s;
            transition: margin .5s linear .4s;
		}
		/*.slick-active {
			margin-right: -110px;
		}*/
		@include breakpoint(small) {
			.slick-active {
				margin-right: 0;
			}
			.slick-dots .slick-active {
				margin-right: 5px;
			}
		}
	} // end instagram-feed


/*****************
   ABOUT US PAGE
******************/

.about {
	.container {
		background: $primary-color;
		padding-top: 40px;
		@include breakpoint(small) {
			padding-top: 60px;
		}
	}
	h1 {
		color: $tertiary-color;
		font-size: 1.7rem;
		text-align: center;
		@include breakpoint(small) {
			font-size: 2.4rem;
		}
	}
	hr {
		@include breakpoint(small) {
			margin: 30px auto;
		}
	}
	#about {
		margin-bottom: 30px;
		p {
			text-align: left;
		}
		@include breakpoint(small) {
			margin-bottom: 60px;
			max-width: 482px;
			p {
				text-align: center;
			}
		}
	}
}


/*****************
  MOOD BOARD PAGE
******************/

.mood-board {
	.container {
		background: $secondary-color;
		padding-top: 40px;
		.row {
			max-width: 100%;
			h1 {
				color: white;
				width: 100%;
				text-align: center;
				font-size: 1.7rem;
			}
			hr {
				border-color: white;
			}
		}

		.back-to-plot {
			padding: 20px 10px 10px 0;
			a {
				text-transform: uppercase;
				text-decoration: none;
				padding: 10px 20px;
				display: block;
				color: white;
				font-size: 1.8rem;
				font-family: $headline-font;
			}
		}
	} // container
}
