//
// JPC Homepage
//
// By Tribe. Copyright 2014. All rights reserved. 
// 

.homepage {

	.main-section {
		h1 {
			background: url('#{$basePath}img/logo-retina.png') top no-repeat;
			background-size: 220px 116px;
			display: block;
			width: 220px;
			height: 116px;
			margin: 30px auto 10px;
			text-indent: -9999px;
			@include breakpoint(small) {
				background-position: center;
				background-size: 508px 257px;
				width: 508px;
				height: 257px;
			}
		}
		p {
			padding: 0 30px;
		}
		.row {
			hr {
				margin: 30px auto;
			}
			p {
				@include breakpoint(small) {
					max-width: 508px;
					margin: 0 auto 0.8em;
				}
			}
		}
	}

	.plots {
		max-width: 320px;
		margin: 0 auto;
		background: #d5d6d5;
		z-index: 30;
		ul {
			list-style:none;
			margin: 0;
			li {
				height: 45px;
				i {
					float: left;
					background: $tertiary-color;
					width: 28px;
					height: 28px;
					padding-left: 1px;
					line-height: 24px;
					border-radius: 14px;
					border: 2px solid white;
					text-align: center;
					display:inline-block;
					color: white;
					font-style: normal;
					margin: 3px 0 0 3px;
				}
				a {
					height: 45px;
					width: 310px;
					padding: 5px;
					position: relative;
					display: block;
					clear: both;
					background: url('#{$basePath}img/plot-arrow.png') no-repeat right;
					background-size: 31px;
					p {
						text-align: left;
						float: left;
						margin: 0;
						font-family: $sans-serif;
						line-height: 1.3em;
						@include breakpoint(small) {
						  	font-size: 1.3rem;
							line-height: 1.3em;
						}
					}
					.guide-price {
						display: block;
						font-family: $serif-font;
						font-size: 1.1rem;
						font-weight: bold;
					}
				} // a
				&:hover {
					background: darken(#d5d6d5, 10%);		
				} 
			} // li
			li:nth-child(even) {
				background: #dceae1;
				&:hover {
					background: lighten($secondary-color, 10%);		
				}
			}
			li.sold {
				i {
					background: #8c182b;
				}
				span.sold {
					color: #8c182b;
					font-family: $headline-font;
				}
			}
			li.sstc {
				i {
					background: #dc8b18;
				}
				span.sstc {
					color: #dc8b18;
					font-family: $headline-font;
				}
			}
		} // ul

		img.spacer {
			display:none;
			border: 0px;
		}

		@include breakpoint(small) {
			max-width: 960px;
			margin-top: 0;
			padding-top: 440px;
			background: white url('#{$basePath}img/plot-1-desktop.jpg') no-repeat center -60px;
			position: relative;
			ul {
				max-width: 100%;
				background: #d5d6d5;
				li {
					padding-right: 15px;
					a {
						width: 96%;
						padding-left: 40px;
					}
				}
			}
			img {
				display:none;
			}
		}
		@include breakpoint(tablet-landscape) {
			height: 499px;
			background: white url('#{$basePath}img/plot-1-desktop.jpg') no-repeat top center;
			ul {
				background: none;
				right: auto;
				left: 0;
				li {
					background: none;
					position: absolute;
					i {
						width: 40px;
						height: 40px;
						border-radius: 20px;
						font-size: 24px;
						line-height: 34px;
						font-family: $sans-serif;
						font-weight: normal;
					}
					a {
						background: none;
						width: 40px;
						height: 40px;
						padding-left: 0px;
						i {
							margin: 0;
						}
						p {
							display: none;
						}
					}
					&:hover {
						background: none;
						i {
							background: darken($tertiary-color, 20%);		
						}
					}
				} // li
				li:nth-child(even) {
					background: none;
					&:hover {
						background: none;
					}
				}
				li.sold {
					a {
						width: 60px;
						height: 100px;
						p {
							display: block;
							padding: 0;
							font-size: 0px;
							position: relative;
							left: -10px;
							min-width: 60px; 
							text-align: center;
							.guide-price {
								font-size: 0px;
							}
							.sold {
								font-size: 18px;
								position: relative;
								top: 15px;
								text-shadow:
							   -2px -2px 0 #fff,  
							    2px -2px 0 #fff,
							    -2px 2px 0 #fff,
							     2px 2px 0 #fff;
							}
						}
					}
					&:hover {
						i {
							background: darken(#8c182b, 20%);		
						}
					}
				}
				li.sstc {
					a {
						width: 60px;
						height: 100px;
						p {
							display: block;
							padding: 0;
							font-size: 0px;
							position: relative;
							left: -15px;
							min-width: 60px; 
							text-align: center;
							.guide-price {
								font-size: 0px;
							}
							.sstc {
								font-size: 18px;
								position: relative;
								top: 15px;
								text-shadow:
							   -2px -2px 0 #fff,  
							    2px -2px 0 #fff,
							    -2px 2px 0 #fff,
							     2px 2px 0 #fff;
							}
						}
					}
					&:hover {
						i {
							background: darken(#dc8b18, 20%);		
						}
					}
				}
				li:nth-child(1) {
					top: 350px;
					left: 555px;
				}
				li:nth-child(2) {
					top: 285px;
					left: 480px;
				}
				li:nth-child(3) {
					top: 150px;
					left: 330px;
				}
				li:nth-child(4) {
					top: 80px;
					left: 270px;
				}
				li:nth-child(5) {
					top: 45px;
					left: 450px;
				}
				li:nth-child(6) {
					top: 105px;
					left: 530px;
				}
				li:nth-child(7) {
					top: 175px;
					left: 630px;
				}
				li:nth-child(8) {
					top: 250px;
					left: 735px;
				}
			} // ul
			img.spacer {
				display:block;
				width:960px;
				height: 500px;
				position: absolute;
				top: 0;
				z-index: 300;
			}
		} // tablet-landscape
	} // plots

	@include breakpoint(tablet-landscape) {
		.plots.hover-A {
				background-position: 0px -500px;
		}
		.plots.hover-B {
				background-position: 0px -1000px;
		}
		.plots.hover-C {
				background-position: 0px -1500px;
		}
		.plots.hover-D {
				background-position: 0px -2000px;
		}
		.plots.hover-E {
				background-position: 0px -2500px;
		}
		.plots.hover-F {
				background-position: 0px -3000px;
		}
		.plots.hover-G {
				background-position: 0px -3500px;
		}
		.plots.hover-H {
				background-position: 0px -4000px;
		}
	}

	#design-story {
		display: block;
		clear: both;
		background: $secondary-color;
		padding: 30px 0 20px;
		p, h2 {
			color: white;
		}
		hr {
			border-color: white;
			@include breakpoint(small) {
				margin: 10px auto 20px;
			}
		}
		a {
			text-decoration: none;
			text-transform: uppercase;
			&:after {
				content: ">";
				background: $tertiary-color;
				width: 16px;
				height: 16px;
				color: white;
				line-height: 14px;
				display: inline-block;
				margin-left: 10px;
				border-radius: 8px;
				border: 1px solid white;
				webkit-transition: background 0.4s;
				transition: background 0.4s;
			}
			&:hover {
				color: lighten($tertiary-color, 20%);
				&:after {
					background: lighten($tertiary-color, 20%);
				}
			}
		} // a
		@include breakpoint(tablet-landscape) {
			h2 {
				margin-top: 20px;
			}
			a {
				display:none;
			}
			hr {
				margin: 10px auto 20px;
			}
			width: 960px;
			height: 1200px;
			padding-right: 481px;
			background: $secondary-color url('#{$basePath}img/mood-board.jpg') no-repeat center;
			border-bottom: 5px solid $tertiary-color;
			p {
				font-size: 1.6rem;
				line-height: 2rem;
				padding: 5px 60px;
			}
		} 
	} // #design-story

	#google-map {
		padding-top: 30px;
		display: block;
		clear: both;
		max-width: 320px;
		margin: 0 auto;
		text-align: center;
		a.mobile-link {
			text-decoration: none;
			text-transform: uppercase;
			position:relative;
			width: 320px;
			height: 115px;
			display: block;
			background: url('#{$basePath}img/google-map-mobile.jpg') no-repeat center;
			background-size: 320px 115px;
			margin-top: 30px;
			span {
				position: absolute;
				bottom: 2em;
				width: 320px;
				left: 0;
			}
			span:after {
				content: ">";
				background: $tertiary-color;
				width: 16px;
				height: 16px;
				color: white;
				line-height: 14px;
				display: inline-block;
				margin-left: 10px;
				border-radius: 8px;
				border: 1px solid white;
				webkit-transition: background 0.4s;
				transition: background 0.4s;
			}
			&:hover {
				color: lighten($tertiary-color, 20%);
				span:after {
					background: lighten($tertiary-color, 20%);
				}
			}
			@include breakpoint(small) {
				display:none;
			}
		} // a
		#map_canvas {
			width: 100%;
			height:470px;
			display:none;
			@include breakpoint(small) {
				display:block;
			}
		}
		@include breakpoint(small) {
			max-width: 960px;
			hr {
				margin: 10px auto 20px;
			}
			.map_text {
				margin-bottom: 40px;
			}
		} 
		@include breakpoint(tablet-landscape) {
			@include grid-row();
			max-width: 960px;
			padding-top: 0px;
			background: $primary-color;
			.map_text {
				@include grid-column(6);
				padding-top: 30px;
				p {
					padding: 0px 30px;
					font-size: 13px;
					a {
						text-decoration: none;
					}
				}
				p.maplink {
					display:none;
				}
			}
			#map_canvas {
				@include grid-column(6);
			}
		}
	} // google-map

}  // homepage


.lt-ie9 {
	p {
		font-size: 15px;
	}
	.homepage {
		.main-section {
			h1 {
				background: url('#{$basePath}img/logo-IE8.png') no-repeat;
			}
		}
	}
}