/*****************
    PLOT PAGES
******************/

.plot {
	.container {
		padding-top: 0px;
	}
	.row {
		max-width: 100%;
		.columns {
			padding: 0;
		}
	}
	.floorplans {
		background: #eaf0f0;
		margin-top: 0;
		li {
			margin: 0;
			a {
				text-decoration: none;
				display:block;
				@include breakpoint(small) {
					background: #eaf0f0 url('#{$basePath}img/expand-icon.png') no-repeat top right;
					background-size: 27px 40px;
				}
			}
			h3 {
				padding: 15px 15px 0;
				width: 200px;
			}
		}
	}

	/*****************
	     CLEARING
	******************/

	// firefox bug
	.visible-img img {
	  	margin: auto !important;  /* !important to overwrite negative margin-left and margin-top foundation js gives for images in clearing*/
	    left: 0;
	    top: 0;
	    bottom: 0;
	    right: 0;
	}

	.clearing-close {
		text-decoration: none;
		color: $tertiary-color;
	}

	.clearing-caption {
		font-family: $headline-font;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 20px;
		color: $tertiary-color;
	}

	.clearing-assembled .clearing-container .visible-img {
		background: #eaf0f0;
		img {
			max-height: 85%;
		}
	}
	.clearing-assembled .clearing-container .carousel > ul li img {
		max-width: 90%;
	}

	.clearing-caption {
		background: #eaf0f0;
	}

	.clearing-container {
		background: #eaf0f0;
	}

	.clearing-blackout {
		.floorplans {
			li {
				a {
					@include breakpoint(small) {
						background: none;
					}
				}
				h3 {
					display: none;
				}
			}
		}
	}

	.plot-description {
		background: $secondary-color;
		h1 {
			color: white;
			font-size: 1.7rem;
			text-align: center;
			margin: 30px auto 20px;
			@include breakpoint(small) {
				font-size: 2.4rem;
			}
			@include breakpoint(tablet-landscape) {
				margin-top: 60px;
			}
		}
		hr {
			border-color: white;
			@include breakpoint(small) {
				margin: 10px auto 20px;
			}
		}
		p {
			color: white;
			max-width: 80%;
			margin: 0 auto;
		}
		.price {
			color: $tertiary-color;
			font-family: $sans-serif;
			margin: 10px auto 20px;
			font-size: 1.5rem;
		}
		.sold, .sstc {
			position: relative;
			top: -10px;
			font-family: $sans-serif;
			text-transform: uppercase;
			font-weight: bold;
		}
		.sold {
			color: #8c182b;
		}
		.sstc {
			color: #dc8b18;
		}
	}
	.spec-list {
		padding: 30px 0 0;
		h2 {
			font-size: 1.7rem;
			text-align: center;
			@include breakpoint(small) {
				font-size: 2.4rem;
			}
		}
		h4 {
			margin: 0 0 0 48px;
			color: $tertiary-color;
			font-size: 1.4rem;
			font-family: $serif-font;
			text-transform: none;
			letter-spacing: none;
			display: block;
			border-bottom: 1px solid $tertiary-color;
			margin-bottom: 1em;
			max-width: 70%;
			@include breakpoint(tablet-landscape) {
				max-width: 80%;
			}
		}
		ul {
			max-width: 70%;
			margin: 0 auto 25px;
			list-style:none;
			li {
				text-transform: none;
				letter-spacing: 0;
				font-family: $serif-font;
				line-height: 1.1em;
				padding: 8px 0;
				display: block;
			}
			@include breakpoint(tablet-landscape) {
				max-width: 80%;
				li {
					font-size: 1.3rem;
					max-width: 300px;
				} // li
			}
		}
		table {
			width: 70%;
			margin: 55px auto 55px;
			border-bottom: 1px solid $tertiary-color;
			border-right: 1px solid $tertiary-color;
			font-family: $serif-font;
			tr {
				td, th {
					background: #f8f6f1;
					border: 1px solid $tertiary-color;
					border-bottom: 0px;
					border-right: 0px;
					padding: 1px 5px;
				}
				th {
					background: #cdcdcd;
					font-family: $sans-serif;
					text-transform: uppercase;
				}
			}
			tfoot {
				tr {
					td {
						background: #cdcdcd;
						font-weight: bold;
						font-family: $sans-serif;
					}
				} // tr
				.total {
					td {
						background: $tertiary-color;
						color: white;
					}
				}
			}
			@include breakpoint(small) {
				/* position: absolute;
				bottom: -35px;
				right: -90%;
				z-index: 50;
				width: 80%; */
				display: none;
			}
			@include breakpoint(tablet-landscape) {
				width: 80%;
				display: table;
			}
		}
		.property-images {
			display: block;
			background: #a9a9a9;
			padding: 30px 0;
			h2 {
				color: white;
			}
			hr {
				border-color: white;
			}
			a {
				text-transform: uppercase;
				text-align: center;
				text-decoration: none;
				width: 280px;
				margin: 0 auto;
				display: block;
				span {
					margin: 0 auto;
				}
				span:after {
					content: ">";
					background: $tertiary-color;
					width: 16px;
					height: 16px;
					color: white;
					line-height: 14px;
					display: inline-block;
					margin-left: 10px;
					border-radius: 8px;
					border: 1px solid white;
					webkit-transition: background 0.4s;
					transition: background 0.4s;
				}
				&:hover {
					color: lighten($tertiary-color, 20%);
					span:after {
						background: lighten($tertiary-color, 20%);
					}
				}
			} // a
			@media (min-width: 640px) {
				min-height: 956px;
				background: url('#{$basePath}img/plot-moodboard.jpg') no-repeat top;
				h2, hr {
					display: none;
				}
				a {
					background: #a9a9a9;
					padding: 1em 0;
				}
			}
			@include breakpoint(tablet-landscape) {
				display: none;
			}
		} // property-images

		.download-pdf {
			display: block;
			background: $secondary-color;
			width: 100%;
			padding: 15px 0;
			a {
				display: block;
				padding-top: 114px;
				font-size: 1.7rem;
				text-transform: uppercase;
				text-align: center;
				text-decoration: none;
				background: url('#{$basePath}img/download-pdf.png') no-repeat top;
				background-size: 100px;
				&:hover {
					color: white;
				}
			}
			@include breakpoint(tablet-landscape) {
				width: 240px;
				height: 240px;
				position:absolute;
				top: 956px;
				right: 240px;
				a {
					margin-top: 40px;
				}
			}
		} // download-pdf
		@include breakpoint(small) {
			hr {
				margin: 10px auto 20px;
			}
		} // small
		@media (min-width: 640px) {
			padding-top: 0;
			h2 {
				margin-top: 30px;
			}
		} // 640
		@include breakpoint(tablet-landscape) {
			background: url('#{$basePath}img/plot-moodboard.jpg') no-repeat top right;
			min-height: 1196px;
			position: relative;
			padding-bottom:20px;
		}
	} // spec-list

	.spec-list.long {
		@include breakpoint(tablet-landscape) {
			background: url('#{$basePath}img/plot-moodboard-long.jpg') no-repeat top right;
			min-height: 1437px;
			position: relative;
			padding-bottom:20px;
			table {
				margin-top: 140px;
			}
		}
	}
	.spec-list.long.plot-e {
		@include breakpoint(tablet-landscape) {
			background: url('#{$basePath}img/plot-moodboard-e.jpg') no-repeat top right;
		}
	}
	.spec-list.long.plot-h {
		@include breakpoint(tablet-landscape) {
			background: url('#{$basePath}img/plot-moodboard-h.jpg') no-repeat top right;
		}
	}
} // plot