//
// JPC Developments
//
// By Tribe. Copyright 2014. All rights reserved. 
// 

// Various global styles

$basePath : "../";

@font-face {
    font-family: 'droid_sansbold';
    src: url('#{$basePath}fonts/DroidSans-Bold-webfont.eot');
    src: url('#{$basePath}fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$basePath}fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('#{$basePath}fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('#{$basePath}fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sansregular';
    src: url('#{$basePath}fonts/DroidSans-webfont.eot');
    src: url('#{$basePath}fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$basePath}fonts/DroidSans-webfont.woff') format('woff'),
         url('#{$basePath}fonts/DroidSans-webfont.ttf') format('truetype'),
         url('#{$basePath}fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$row-width:90%;


// Media Queries

$small-screen: 567px;
$tablet-portrait-screen: 769px;
$tablet-landscape-screen: 960px;
$medium-screen: 1280px;
$large-screen: 1440px;
$massive-screen: 1900px;

$screen: "only screen";
$small: "only screen and (min-width: #{$small-screen})";
$tablet: "only screen and (min-device-width: #{$tablet-portrait-screen})";
$tablet-landscape: "only screen and (min-device-width: #{$tablet-landscape-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

@mixin breakpoint($point) {
  @if $point == massive {
    @media (min-width: $massive-screen) { @content; }
  }
	@if $point == large {
    @media (min-width: $large-screen) { @content; }
  }
  @else if $point == medium {
    @media (min-width: $medium-screen) { @content; }
  }
	@else if $point == tablet {
    @media (min-width: $tablet-portrait-screen) { @content; }
  }
	@else if $point == tablet-landscape {
    @media (min-width: $tablet-landscape-screen) { @content; }
  }
  @else if $point == small {
    @media (min-width: $small-screen)  { @content; }
  }
	@else if $point == mobile-only {
    @media (max-width: $small-screen)  { @content; }
  }
	@else if $point == 380 {
		 @media (min-width: 380px)  { @content; }
	}
}

// Colours

// Light beige - Mole's breath
$primary-color: #ece6d8;

// Mint green
$secondary-color: #94c7af;

// Text Grey
$tertiary-color: #3e454a; 

$light-grey: #d5d6d5;

// background
$background-color: #f7f7f7;

// Border style
$border-style: 1px solid $secondary-color;

$css-transition-speed: .4s;

// TYPOGRAPHY

$headline-font: 'droid_sansbold', arial, sans-serif;
$sans-serif: 'droid_sansregular', helvetica, arial, sans-serif;
$serif-font: 'Droid Serif', serif;

$text-color: $tertiary-color;

.text-small {
	font-size:0.9em !important;
	}
.text-smaller {
	font-size:0.8em !important;
	}
.text-smallest {
	font-size:0.7em !important;
	}
.text-large {
	font-size:1.1em !important;
	}
.text-larger {
	font-size:1.2em !important;
	}
.text-largest {
	font-size:1.3em !important;
	}

.text-red {
  color: $primary-color !important;
}
.text-grey {
  color: $tertiary-color !important;
}

p .bold, .bold {
  font-weight: bold;
}

p .uppercase, .uppercase {
  text-transform: uppercase;
}

.headline-font, a.headline-font {
  font-family: $headline-font !important;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transform:scale(1,1.2);
  -moz-transform:scale(1,1.2);
  -ms-transform:scale(1,1.2);
  -o-transform:scale(1,1.2);
  transform:scale(1,1.2);
  -webkit-font-smoothing: antialiased;
}

.sans-serif-font, a.sans-serif-font {
  font-family: $sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
.serif-font, a.serif-font {
  font-family: $serif-font !important;
  -webkit-font-smoothing: antialiased;
}

.arrow-after {
  &:after {
    content: " ➤";
  }
}

// forms 
$form-label-font-size: 1.3rem;
$input-font-size: 1.4rem;
$input-box-shadow: none;

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
